@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
}

:root {
  --selected-color: #E1ECC8;
  --related-color: #F7FFE5;
  --rowButton-color: #6464fa;
  --wrong-color: red;
  --help-color: #F2BE22;
  --popupBackground-color: rgba(0, 0, 0, 0.5);
  --popupShadow-color: rgb(242, 190, 34);
}

body {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#sudoku-main {
  display: flex;
}

#sudoku-main > section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#screen {
  height: 300px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 4rem;
  font-weight: bold;
}

section > a {
  width: 300px;
  height: 70px;
  font-size: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#difficultyPopup {
  display: none;
}

#difficultyPopup-content {
  gap: 10px;  
}

#difficultyPopupTitle {
  height: 25%;
}

#difficulty-btns{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 100%;
  height: 50%;
  justify-content: center;
  font-weight: bold;
}

#difficulty-btns > button {
  box-sizing: border-box;
  border: none;
  background-color: #fff;
}

#difficulty-btns > .difficulty {
  width: 90%;
  height: 30%;
  font-size: 1.5rem;

  box-sizing: border-box;
  border: 1px solid grey;
}

#difficulty-btns > .difficulty:hover {
  cursor: pointer;
  border: 1px double green;
  background-color: green;
  color: #fff;
}

#choose-btns > button {
  height: 60%;
}

#difficulty-btns > .selected-difficulty {
  background-color: green;
  color: #fff;
}

/* main ↑ */
/* ********************************************************************************** */
/* play ↓ */

#sudoku-play {
  display: none;
}

#sudoku-table {
  border-collapse: collapse; 
  width: 450px; 
  border: 3px solid black;
}

#sudoku-table td {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  text-align: center;
}

#sudoku-table td[data-row="2"], #sudoku-table td[data-row="5"] {
  border-bottom: 3px solid black;
}

#sudoku-table td[data-col="2"], #sudoku-table td[data-col="5"] {
  border-right: 3px solid black;
}

#sudoku-table-top {
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#sudoku-table-top > button {
  width: 20%;
  height: 80%;
  font-size: 1.2rem;
  background-color: #fff;
}

#sudoku-table-top > button:hover {
  cursor: pointer;
}

#back {
  box-sizing: border-box;
  border: 1px solid grey;
  color: grey;
}

#back:hover {
  background-color: grey;
  color: #fff;
}

#submit {
  box-sizing: border-box;
  border: 1px solid green;
  color: green;
}

#submit:hover {
  background-color: green;
  color: #fff;
}

#sudoku-table-bottom {
  height: 20vh;

  display: flex;          
  justify-content: space-around;
  flex-direction: column;
}

#sudoku-table-bottom .row-1, #sudoku-table-bottom .row-2 {
  display: flex;
  align-items: center;
  height: 50%;
}

.row-1 > button {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.row-1 > button > span{
  margin: auto 0;
}

.row-1 button, .row-2 button {
  border: none;
  background-color: #fff;
}

.row-2 > button {
  display: flex;
  flex: 1;
  justify-content: center;

  height: 100%;
  align-items: center;

  font-size: 1.5rem;
}

#note > span {
  position: relative;
}

#note span p {
  position: absolute;
  top: 0;
  left: 110%;
}

#sudoku-table-bottom button {
  cursor: pointer;
}

.fixed {
  font-weight: bold;
  font-size: 1.3rem;
}

#sudoku-table td.related {
  background-color: var(--related-color);
}

/*
td.selected -> td에 selected가 붙은 것
td .selected -> td 아래 selected가 붙은 것
*/
#sudoku-table td.selected {
  background-color: var(--selected-color);
}

/* 마우스가 텍스트 입력 형태로 바뀌는 것 방지 */
#sudoku-table td {
  cursor: default;
}

/* css 선택자 우선순위 때문에 앞에 #sudoku-table을 붙인다 */
#sudoku-table td:hover:not(.fixed), 
#sudoku-table td.related:hover:not(.fixed) {
  background-color: var(--selected-color);
  cursor: pointer;
}

/* ** */
@keyframes blinkWrong {
  0% {
    background-color: var(--wrong-color);
  }
  50% {
    background-color: transparent;
  }
  100% {
    background-color: var(--wrong-color);
  }
}

.blink-wrong {
  /* forward: 애니메이션 종료 후 애니메이션의 마지막 프레임이 나타나게 */
  animation: blinkWrong 0.3s 2;  
}
/* ** */

/* ** */
@keyframes blinkHelp {
  0% {
    background-color: var(--help-color);
  }
  50% {
    background-color: transparent;
  }
  100% {
    background-color: var(--help-color);
  }
}

.blink-help {
  /* forward: 애니메이션 종료 후 애니메이션의 마지막 프레임이 나타나게 */
  animation: blinkHelp 0.3s 2;  
}
/* ** */

/* ** */
@keyframes blinkRowButton {
  from {
      background-color: var(--rowButton-color);
  }
  to {
      background-color: transparent;
  }
}

.blink-rowButton {
  /* forward: 애니메이션 종료 후 애니메이션의 마지막 프레임이 나타나게 */
  animation: blinkRowButton 0.5s forwards;  
}
/* ** */

/* note */
.notes-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  height: 100%;

  color: var(--rowButton-color);
}

.notes-grid span {
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.notes-grid span.active {
  opacity: 1; /* 활성화된 메모는 불투명하게 */
}
/* note */

#confirmPopup {
  display: none;
}

#confirmPopup-content {
  position: relative;

  height: 30%;
  gap: 10px;  
}

#alert-btn {
  display: none;
}

/* ********************************************************************************** */
/* common ↓ */

.popup-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;   
  height: 100%;  
  background-color: var(--popupBackground-color);
  
  justify-content: center;
  align-items: center;
}

.popup-content {
  width: 50%;
  height: 50%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 10px var(--popupShadow-color);
  display: flex;
  flex-direction: column;
}

.popup-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  font-size: 2rem;
  font-weight: bold;
}

.twoBtns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 25%;
  width: 100%;
}

.twoBtns > button {
  width: 30%;
  height: 80%;
  font-size: 1.3rem;
}

.twoBtns > button:hover {
  cursor: pointer;
}

.oneBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25%;
  width: 100%;
}

.oneBtn > button {
  width: 30%;
  height: 80%;
  font-size: 1.3rem;
}

.oneBtn > button:hover {
  cursor: pointer;
}

.positiveBtn {
  box-sizing: border-box;
  border: 1px solid #0000ff;
  background-color: #0000ff;
  color: #fff;
}

.positiveBtn:hover {
  cursor: pointer;
  border: 1px solid #0000ff;
  background-color: #fff;
  color: #0000ff;
}

.negativeBtn {
  box-sizing: border-box;
  border: 1px solid #0000ff;
  background-color: #fff;
  color: #0000ff;
}

.negativeBtn:hover {
  cursor: pointer;
  border: 1px solid #0000ff;
  background-color: #0000ff;
  color: #fff;
}

.notActivityBtn {
  cursor: default;
  pointer-events: none;

  box-sizing: border-box;
  border: 1px solid #606061;
  background-color: #606061;
  color: #fff;
}

/* ******* 성공 애니메이션 ******* ↓ */

@keyframes fallingParticle {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(50vh);
  }
}

.particle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: fallingParticle 1s linear forwards;
}

/* ******* 성공 애니메이션 ******* ↑ */

@media screen and (max-width: 768px) {
  @keyframes slideDown {
    from {
      transform: translateY(-50%);
    }
    to {
      transform: translateY(10%);
    }
  }

  #difficultyPopup-content {
    gap: 5px;  
    animation: slideDown 1s forwards;
  }

  #difficultyPopupTitle {
    padding: 0;
    font-weight: bold;
    font-size: 2rem;
  }
  
  #choose-btns > button {
    height: 50%;
  }
  
  /* main ↑ */
  /* ********************************************************************************** */
  /* play ↓ */

  #sudoku-table {
    border-collapse: collapse; 
    width: 315px; 
    border: 1.8px solid black;
  }
  
  #sudoku-table td {
    width: 35px;
    height: 35px;
  }

  #sudoku-table td[data-row="2"], #sudoku-table td[data-row="5"] {
    border-bottom: 1.8px solid black;
  }
  
  #sudoku-table td[data-col="2"], #sudoku-table td[data-col="5"] {
    border-right: 1.8px solid black;
  }
  
  #sudoku-table-top > button {
    width: 30%;
  }
  
  .row-2 > button {
    font-size: 1.7rem;
  }

  .fixed {
    font-size: 1.2rem;
  }
  
  /* note */
  .notes-grid span {
    font-size: 0.5rem;
  }
  /* note */

  /* ********************************************************************************** */
  /* common ↓ */
  
  .popup-content {
    position: relative;
    top: -30%;

    width: 100%;
    height: 50%;
  }

  .popup-title {
    font-weight: lighter;
    font-size: 1.5rem;
    padding: 10px;
  }

  .twoBtns > button, .oneBtn > button {
    width: 35%;
  }
}